In [2]:
import numpy as np

p_data = open("/Users/joshem/PhD Research/Data/cora/cora.cites")


# Create a list from the data
myls=list(p_data)

# Remove the new line symbole from the list
mylist = [line.rstrip('\n') for line in myls]
#print(mylist)
#print(graph_ind)
#print(graph_level)

p_data.close()
mynode=[]
i=0
for d in mylist:
    d=mylist[i].split("\t")
    mynode.append(int(d[0]))
    mynode.append(int(d[1]))
    i=i+1
#print(mynode)
node_ID1=np.unique(mynode)
node_ID=list(node_ID1)
#print(node_ID)
n=len(node_ID)
#print(n)
A=np.zeros((n,n))
i=0
for d in mylist:
    d=mylist[i].split("\t")
    A[node_ID.index(int(d[0]))][node_ID.index(int(d[1]))]=1
    i=i+1;

In [3]:
import os
data_dir = os.path.expanduser("/Users/joshem/PhD Research/Data/cora")
import pandas as pd
feature_names = ["w_{}".format(ii) for ii in range(1433)]
column_names = ["ID"]+ feature_names + ["class"]
node_data = pd.read_csv(os.path.join(data_dir, "cora.content"), sep='\t', header=None, names=column_names)
node_data.head()

,ID,w_0,w_1,w_2,w_3,w_4,w_5,w_6,w_7,w_8,...,w_1424,w_1425,w_1426,w_1427,w_1428,w_1429,w_1430,w_1431,w_1432,class
0,31336,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,Neural_Networks
1,1061127,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,Rule_Learning
2,1106406,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Reinforcement_Learning
3,13195,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Reinforcement_Learning
4,37879,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Probabilistic_Methods

In [4]:
DataS=node_data.replace({'class': {'Case_Based':0 , 'Genetic_Algorithms': 1,'Neural_Networks':2,'Probabilistic_Methods':3 , 'Reinforcement_Learning': 4,'Rule_Learning':5,'Theory':6}})
# Case_Based==0
#		Genetic_Algorithms==1
#		Neural_Networks==2
#		Probabilistic_Methods==3
#		Reinforcement_Learning==4
#		Rule_Learning==5
#		Theory==6
DataS.head()
Data=DataS.sort_values(by=['ID'],ascending=True)
Data.head()

,ID,w_0,w_1,w_2,w_3,w_4,w_5,w_6,w_7,w_8,...,w_1424,w_1425,w_1426,w_1427,w_1428,w_1429,w_1430,w_1431,w_1432,class
163,35,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
168,40,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
552,114,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,4
1459,117,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
554,128,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4

In [5]:
catagories=Data['class'].to_numpy()
data_by_class = {cls: Data.loc[Data['class'] == cls].drop(['class', 'ID'], axis=1) for cls in range(max(catagories) + 1)}
basis = [[max(df[f'w_{i}']) for i in range(len(df.columns))] for df in data_by_class.values()]
sel_basis = [[int(list(df[f'w_{i}'].to_numpy()).count(1) >= int(len(df[f'w_{i}'].index)*0.1)) 
              for i in range(len(df.columns))]
             for df in data_by_class.values()]
IdS=list(DataS['ID'].to_numpy())
Id=list(Data['ID'].to_numpy())

In [6]:
Fec=[]
for i in range(2708):
    vec=[]
    f=Data.loc[IdS.index(Id[i]), feature_names].values.flatten().tolist()
    count=0
    count1=0
    count2=0
    count3=0
    count4=0
    count5=0
    count6=0
    for j in range(1433):
        if f[j]==1 and basis[0][j]==1:
            count=count+1;
        if f[j]==1 and basis[1][j]==1:
            count1=count1+1;
        if f[j]==1 and basis[2][j]==1:
            count2=count2+1;
        if f[j]==1 and basis[3][j]==1:
            count3=count3+1;
        if f[j]==1 and basis[4][j]==1:
            count4=count4+1;
        if f[j]==1 and basis[5][j]==1:
            count5=count5+1;
        if f[j]==1 and basis[6][j]==1:
            count6=count6+1;
    vec.append(count)
    vec.append(count1)
    vec.append(count2)
    vec.append(count3)
    vec.append(count4)
    vec.append(count5)
    vec.append(count6)
    #print(f)
    f.clear()
    Fec.append(vec)
#print(Fec)

SFec=[]
for i in range(2708):
    Svec=[]
    f=Data.loc[IdS.index(Id[i]), feature_names].values.flatten().tolist()
    count=0
    count1=0
    count2=0
    count3=0
    count4=0
    count5=0
    count6=0
    for j in range(1433):
        if f[j]==1 and sel_basis[0][j]==1:
            count=count+1;
        if f[j]==1 and sel_basis[1][j]==1:
            count1=count1+1;
        if f[j]==1 and sel_basis[2][j]==1:
            count2=count2+1;
        if f[j]==1 and sel_basis[3][j]==1:
            count3=count3+1;
        if f[j]==1 and sel_basis[4][j]==1:
            count4=count4+1;
        if f[j]==1 and sel_basis[5][j]==1:
            count5=count5+1;
        if f[j]==1 and sel_basis[6][j]==1:
            count6=count6+1;
    Svec.append(count)
    Svec.append(count1)
    Svec.append(count2)
    Svec.append(count3)
    Svec.append(count4)
    Svec.append(count5)
    Svec.append(count6)
    #print(f)
    f.clear()
    SFec.append(Svec)
#print(SFec)

In [7]:
z =np.array(SFec)
data2=pd.DataFrame({"S_0":z[:,0]})
for i in range(6):
    data2.insert(loc=i+1, column="S_{}".format(i+1), value=z[:,i+1])
#data2.insert(loc=7,column='Class',value=Data['subject'].to_numpy())
data2.head()

   S_0  S_1  S_2  S_3  S_4  S_5  S_6
0    1    7    3    2    3    2    1
1    6    5    3    4    6    7    4
2    1    3    1    1    4    3    1
3    5    4    4    4    8    2    5
4    5    3    3    2    8    2    3

In [8]:
y =np.array(Fec)
data1=pd.DataFrame({"I_0":y[:,0]})
for i in range(6):
    data1.insert(loc=i+1, column="I_{}".format(i+1), value=y[:,i+1])
#data1.insert(loc=7,column='Class',value=Data['class'].to_numpy())
data1.head()

   I_0  I_1  I_2  I_3  I_4  I_5  I_6
0   16   20   20   16   17   12   14
1   16   18   18   17   15   16   15
2   10   11   12   10   12    7    8
3   13   17   19   18   20   14   18
4   17   17   19   17   20   15   17

In [9]:
import random
p=random.sample(range(2708), 1000)
#print(p)
q=[]
for i in range(n):
    if i not in p:
        q.append(i)
#print(q)
class_60=np.array(catagories)
for d in p:
    class_60[d]=7
print(class_60)
for i in range(n):
    A[i][i]=class_60[i]
#print(A)

[7 7 4 ... 5 5 7]

In [10]:
def CountX(lst,x):
    return(lst.count(x))

Node_class=[0,1,2,3,4,5,6]
F_vec=[]
for i in range(n):
    node_F=[]
    list_out=[]
    list_In=[]
    S_nbd_out=[]
    S_nbd_in=[]
    for j in range(n):
        if A[i][j]==1 and i!=j:
            list_out.append(A[j][j])
            for k in range(n):
                if A[j][k]==1 and k!=j:
                    S_nbd_out.append(A[k][k])
        if A[j][i]==1 and i!=j:
            list_In.append(A[j][j])
            for k in range(n):
                if A[k][j]==1 and k!=j:
                    S_nbd_in.append(A[k][k])
                
    for d in Node_class:
        node_F.append(CountX(list_out,d))
        node_F.append(CountX(list_In,d))

    for d in Node_class:
        node_F.append(CountX(S_nbd_out,d))
        node_F.append(CountX(S_nbd_in,d))
    F_vec.append(node_F)

In [11]:
x =np.array(F_vec)
k=28
feature=["a_0","b_0"]
for i in range(1,k-1,2):
    feature.append("a_{}".format(int((i+1)/2)))
    feature.append("b_{}".format(int((i+1)/2)))
data = pd.DataFrame(x,columns=feature)
data.insert(loc=k,column='Class',value=Data['class'].to_numpy())
data.head()

,a_0,b_0,a_1,b_1,a_2,b_2,a_3,b_3,a_4,b_4,...,b_9,a_10,b_10,a_11,b_11,a_12,b_12,a_13,b_13,Class
0,1,0,94,1,5,0,0,0,3,0,...,1,0,0,16,0,4,0,6,0,1
1,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,1,0,1,0,26,0,...,0,0,0,33,0,0,0,1,0,4
3,0,0,0,0,0,0,1,0,9,0,...,0,0,0,29,0,0,0,2,0,4
4,0,0,0,0,0,0,0,0,3,3,...,0,0,0,2,1,0,0,0,0,4

In [12]:
result = pd.concat([data1,data2,data], axis=1)
result.head()

,I_0,I_1,I_2,I_3,I_4,I_5,I_6,S_0,S_1,S_2,...,b_9,a_10,b_10,a_11,b_11,a_12,b_12,a_13,b_13,Class
0,16,20,20,16,17,12,14,1,7,3,...,1,0,0,16,0,4,0,6,0,1
1,16,18,18,17,15,16,15,6,5,3,...,0,0,0,0,0,0,0,0,0,1
2,10,11,12,10,12,7,8,1,3,1,...,0,0,0,33,0,0,0,1,0,4
3,13,17,19,18,20,14,18,5,4,4,...,0,0,0,29,0,0,0,2,0,4
4,17,17,19,17,20,15,17,5,3,3,...,0,0,0,2,1,0,0,0,0,4

In [13]:
k=28
feature=["a_0","b_0"]
for i in range(1,k-1,2):
    feature.append("a_{}".format(int((i+1)/2)))
    feature.append("b_{}".format(int((i+1)/2)))

for i in range(7):
    feature.append("I_{}".format(i))
for i in range(7):
    feature.append("S_{}".format(i))
    
    
X=result[feature] # Features
y=result['Class']  # Labels
X_train=X.iloc[q]
X_test=X.iloc[p]
y_train=y.iloc[q]
y_test=y.iloc[p]

from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler()  
# Don't cheat - fit only on training data
scaler.fit(X_train)  
X_train = scaler.transform(X_train)  
# apply same transformation to test data
X_test = scaler.transform(X_test)  

from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='sgd', alpha=1e-5, hidden_layer_sizes=(700,), random_state=1,max_iter=10000, warm_start=True)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred)*100,"%")

Accuracy: 88.3 %

In [ ]:
k=28
feature=["a_0","b_0"]
for i in range(1,k-1,2):
    feature.append("a_{}".format(int((i+1)/2)))
    feature.append("b_{}".format(int((i+1)/2)))

for i in range(7):
    feature.append("I_{}".format(i))
for i in range(7):
    feature.append("S_{}".format(i))
    
X = result[feature]  # Features
y = result['Class']  # Labels
X_train = X.iloc[list(train_idx)+list(valid_idx)]
X_test = X.iloc[test_idx]
y_train = y.iloc[list(train_idx)+list(valid_idx)]
y_test = y.iloc[test_idx]

# Create train and test features as a numpy array.
X_train = X_train[feature].to_numpy()
X_test = X_test[feature].to_numpy()

In [ ]:
from keras.callbacks import ModelCheckpoint, EarlyStopping, ReduceLROnPlateau
earlystop1 = EarlyStopping(patience=7)
earlystop2 = ReduceLROnPlateau(monitor='val_loss',
                               min_lr = 3e-7, 
                               patience = 4,
                               factor=0.3,
                               verbose = 1)

In [ ]:
acc_per_fold = []
loss_per_fold = []
fold_no = 1
checkpoint_filepath='/tmp/checkpoint'
# for train, test in kfold.split(X_train, y_train):
model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(120,)),
    tf.keras.layers.Dense(512),
    tf.keras.layers.Dropout(.2),
    tf.keras.layers.Dense(256),
    tf.keras.layers.Dropout(.2),
    tf.keras.layers.Dense(120, activation='sigmoid')
])

loss_fn = tf.keras.losses.SparseCategoricalCrossentropy()
model.compile(optimizer=tf.keras.optimizers.SGD(7e-5), loss=loss_fn, 
              metrics=[tf.keras.metrics.SparseCategoricalAccuracy()])
print('------------------------------------------------------------------------')
print(f'Training for fold {fold_no} ...')
history = model.fit(np.array(X_train), np.array(y_train),
                    batch_size = 128,
                    epochs=100,
                    use_multiprocessing=True,
                    workers=4,
                    validation_data=(np.array(X_test), np.array(y_test)),
                    callbacks=[earlystop1, earlystop2,
                                tf.keras.callbacks.ModelCheckpoint(filepath=checkpoint_filepath,
                                                                save_best_only=True,
                                                                save_weights_only=True,
                                                                monitor='val_sparse_categorical_accuracy',
                                                                mode='max')])
model.load_weights(checkpoint_filepath)
scores = model.evaluate(np.array(X_test), np.array(y_test), verbose=0)
print(f'Score for fold {fold_no}: {model.metrics_names[0]} of {scores[0]}; {model.metrics_names[1]} of {scores[1]*100}%')
acc_per_fold.append(scores[1] * 100)
loss_per_fold.append(scores[0])
fold_no += 1